{% extends 'MayflowerJiraIssueVoteBundle::layout.html.twig' %}
{% block body %}
    <div class="page-block">
        <div class="panel panel-default">
            <div class="panel-body" ng-controller="FilterSelectionController">
                <h4>What do you want to vote for?</h4>

                <div class="alert alert-danger" ng-show="gotInvalidFilter">
                    <p>The given filter is invalid. Please contact an administrator!</p>
                </div>

                <div class="alert alert-info" ng-show="filters.length === 0">
                    <p>No favourite filters selected. Please add some.</p>
                </div>

                <div class="table-responsive row" ng-show="filters.length > 0">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 50%; text-align: center;">Information</th>
                                <th style="width: 50%; text-align: center;">Select</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="filter in filters">
                                <td class="favourite-filter-table-cell">
                                    <p><b><% filter.name %></b></p>
                                    <p><i style="color: #888">Owned by <% filter.owner_name %></i></p>
                                    <p><a href="<% filter.view_url %>" target="_blank">View in JIRA for more details</a> </p>
                                </td>
                                <td class="favourite-filter-table-cell">
                                    <button type="button" class="btn btn-primary" ng-click="persistFilter(filter.id)">Show issues</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}Select filter{% endblock %}
