/* basic */
*:focus {
    outline: 0
}

/* portal */
.jiraclient-login-panel {
    float: none;
    margin: 30px auto;
    position: relative
}

/* structure */
.small-head {
    font-size: 12px
}

.top-container {
    margin-bottom: 15px;
    padding-top: 10px
}

/* page */
label small {
    color: #777;
    font-size: 11px
}

.form-control {
    border-radius: 4px !important
}

.btn {
    margin-top: 10px
}

.issue-list-item:nth-child(odd) {
    background-color: #f0f0f0
}

.issue-list-item:nth-child(even) {
    background-color: #fafafa
}

.btn-custom-link {
    margin-left: 15px;
    cursor: pointer
}

.btn-vote-custom {
    height: 30px;
    line-height: 15px;
    margin-top: 0;
    font-size: 15px;
    padding: 6px 18px
}

.issue-description-container {
    display: none
}

.issue-generated-info-text {
    color: #888;
    margin-top: 20px;
}

.issue-key {
    color: #888;
    padding-right: 10px;
    font-weight: normal;
}

.issue-key:before {
    content: '[';
}

.issue-key:after {
    content: ']';
}

.favourite-filter-table-cell {
    text-align: center;
    vertical-align: middle;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-item-load-more {
    text-align: center;
    padding: 20px;
    min-height: 115px;
}

.load-more-loading-spinner {
    margin-top: 30px;
}

.page-block {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 83.333333333%
}

.btn-jumper {
    right: 0;
    bottom: 50%;
    position: fixed;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin: 0;
}

/* movile customizations */
@media screen and (max-width:974px){
    .vote-box {
        text-align: left
    }
}
