/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/phpunit.phar
/behat.phar
/.idea/
/vagrant/
/.vagrant/
/composer.lock
/app/oauth/private
!app/oauth/private/.gitkeep
/devstack.yaml