<div class="modal fade" id="settingsDialog" tabindex="-1" role="dialog" aria-labelledby="settings-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="settings-label">Custom settings</h4>
            </div>
            <div class="modal-body" ng-controller="settingsController">
                <div>
                    <label>Which issues to you want to exclude?</label>
                </div>
                <div class="checkbox" >
                    <label>
                        <input type="checkbox" ng-model="data.voted" />
                        <span>Issues you already voted</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="data.reported" />
                        <span>Issues you reported</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="data.resolved" />
                        <span>Issues that were closed</span>
                    </label>
                </div>
                <div class="message">
                    <button type="button" class="btn btn-primary" ng-click="updateSettings()">Modify settings</button>
                </div>
            </div>
        </div>
    </div>
</div>
