{#{% spaceless %}#}
<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="jira-vote">
    <head>
        <title>{% block title %}{% endblock %} - JiraVote</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scable=no, width=device-width, height=device-height, initial-scale=1" />
        {% block styles %}
            {% stylesheets '@MayflowerJiraIssueVoteBundle/Resources/public/css/*' %}
                <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block scripts %}
            {% javascripts '@MayflowerJiraIssueVoteBundle/Resources/public/js/lib/*'
                           '@MayflowerJiraIssueVoteBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block custom_head_tags %}{% endblock %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" media="all" type="text/css" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
{#{% endspaceless %}#}
